/* Imports */
@import 'projects.scss';
@import 'slider.scss';
@import 'mountains.scss';
@import 'variables.scss';

body {
	background-color: $background-color;
	margin: 0px;
	top: 0;
	overflow: hidden;
	animation: fadeInOnLoad 3s ease-in;
}
@keyframes fadeInOnLoad {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	font-family: 'Archivo', serif;
}
p {
	font-family: 'Lato', serif;
	font-weight: 300;
}
a {
	font-family: 'Lato', serif;
	font-weight: 400;
}

.star {
	background-color: white;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.34);
	animation: starFade infinite;
}

@keyframes starFade {
	0% {
	}
	50% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

canvas {
	width: 100vw;
	height: 300px;
	position: absolute;
	display: block;
	filter: blur(6px) drop-shadow(0 0 30px rgba(51, 180, 172, 1));
	transform-origin: 0 100%;
	transform: skewX(-20deg);
	animation: fadein 6s 1;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
}

.name-container {
	background-color: $background-color;
	z-index: 1;
	width: 650px;
	border-radius: 50%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#personal-title {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	width: 650px;
	font-size: 35px;
	font-weight: 100;
	color: white;
	text-align: center;
	height: 0px;
	margin-bottom: 70px;
	margin-top: -70px;
}

#down-arrow-svg {
	position: absolute;
	bottom: 100px;
	left: 50vw;
	transform: translateX(-40px);
	width: 80px;
	z-index: 9999;
	.body {
		transition-duration: 800ms;
		fill: #999;
	}
	.engine {
		transition-duration: 800ms;
		fill: #999;
	}
	.cls-1 {
		isolation: isolate;
	}
	.cls-2 {
		fill: #999;
	}
	.cls-3 {
		opacity: 0;
	}
	.cls-3,
	.cls-6 {
		mix-blend-mode: screen;
	}
	.cls-4 {
		display: none;
	}
	.cls-5 {
		mask: url(#mask);
	}
	.cls-6 {
		opacity: 0.85;
	}
	.cls-7 {
		display: none;
	}
	.cls-8 {
		mask: url(#mask-2);
	}
	.cls-9 {
		filter: url(#luminosity-invert);
	}
}

#down-arrow-svg:hover {
	cursor: pointer;
	.body {
		transition-duration: 800ms;
		fill: #fff;
	}
	.engine {
		transition-duration: 800ms;
		fill: #09c2db;
	}
}

.blastoff {
	animation: blastoff 3s ease-in;
	.body {
		transition-duration: 800ms;
		fill: #fff;
	}
	.engine {
		transition-duration: 800ms;
		fill: #09c2db;
	}
	.cls-1 {
		isolation: isolate;
	}
	.cls-2 {
		fill: #999;
	}
	.cls-3 {
		transition-duration: 800ms;
		opacity: 0.75 !important;
	}
	.cls-3,
	.cls-6 {
		mix-blend-mode: screen;
	}
	.cls-4 {
		display: none;
	}
	.cls-5 {
		mask: url(#mask);
	}
	.cls-6 {
		opacity: 0.85;
	}
	.cls-7 {
		display: none;
	}
	.cls-8 {
		mask: url(#mask-2);
	}
	.cls-9 {
		filter: url(#luminosity-invert);
	}
}

#name {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	width: 650px;
	background-color: $background-color;
	font-size: 120px;
	font-weight: 100;
	padding-bottom: 20px;
	color: $line-color;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, $line-color),
		color-stop(0.45, $line-color),
		color-stop(0.5, white),
		color-stop(0.55, $line-color),
		color-stop(1, $line-color)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 9999;
	-webkit-animation: slidetounlock 2.5s infinite;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes slidetounlock {
	0% {
		background-position: -325px 0;
	}
	32% {
		background-position: -325px 0;
	}
	70% {
		background-position: 325px 0;
	}
	100% {
		background-position: 325px 0;
	}
}

@-webkit-keyframes blastoff {
	0% {
		bottom: 100px;
	}
	100% {
		bottom: -1500px;
	}
}
