body {
	background-color: $background-color;
	margin: 0px;
	top: 0;
	overflow: hidden;
	animation: fadeInOnLoad 3s ease-in;
}
@keyframes fadeInOnLoad {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

h1 {
	font-family: 'Archivo', serif;
}
p {
	font-family: 'Lato', serif;
	font-weight: 300;
}
a {
	font-family: 'Lato', serif;
	font-weight: 400;
}
