.mountains {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0px;
	right: 0;
	bottom: 0;
	z-index: 999;
}
.mountains-range {
	.mountain {
		right: 100px;
		left: auto;
	}
	.mountain-two {
		right: 230px;
		left: auto;
	}
	.mountain-three {
		right: 50px;
		left: auto;
	}
}
.mountain {
	position: absolute;
	bottom: 0;
	left: 100px;
	border-left: 180px solid transparent;
	border-right: 180px solid transparent;
	border-bottom: 210px solid #629dba;
	z-index: 99;
}
.mountain-two,
.mountain-three {
	position: absolute;
	bottom: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 180px solid #7ac1e4;
	z-index: 99;
}
.mountain-two {
	left: 200px;
	bottom: -20px;
	border-bottom-color: #305262;
	z-index: 2;
}
.mountain-three {
	left: 50px;
	bottom: -10px;
	border-bottom-color: #1d2f38;
	z-index: 2;
}
.mountain-top {
	position: absolute;
	right: -65px;
	border-left: 65px solid transparent;
	border-right: 65px solid transparent;
	border-bottom: 77px solid #ceeaf6;
	z-index: 2;
}
.mountain-top-2 {
	border-bottom-color: #c2d8e2;
	.mountain-cap-1,
	.mountain-cap-2,
	.mountain-cap-3,
	.mountain-cap-4 {
		border-top-color: #c2d8e2;
	}
}
.mountain-top-3 {
	border-bottom-color: #adbbc2;
	.mountain-cap-1,
	.mountain-cap-2,
	.mountain-cap-3,
	.mountain-cap-4 {
		border-top-color: #adbbc2;
	}
}
.mountain-top-big {
	right: -80px;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 93px solid #ceeaf6;
	z-index: 99;
	.mountain-cap-1 {
		left: -80px;
		top: 93px;
	}
	.mountain-cap-2 {
		left: -40px;
		top: 89px;
	}
	.mountain-cap-3 {
		left: -10px;
		top: 85px;
	}
	.mountain-cap-4 {
		left: 30px;
		top: 93px;
	}
}
.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3,
.mountain-cap-4 {
	position: absolute;
	top: 70px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #ceeaf6;
}
.mountain-cap-1 {
	left: -55px;
}
.mountain-cap-2 {
	left: -25px;
}
.mountain-cap-3 {
	left: 5px;
}
.cloud,
.cloud:before,
.cloud:after {
	position: absolute;
	width: 70px;
	height: 30px;
	background: #fff;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
.cloud {
	bottom: 100px;
	-webkit-animation: cloud 50s infinite linear;
	animation: cloud 50s infinite linear;
}
@-webkit-keyframes cloud {
	0% {
		left: -100px;
	}
	100% {
		left: 1000px;
	}
}
@keyframes cloud {
	0% {
		left: -100px;
	}
	100% {
		left: 110vw;
	}
}
.cloud:before {
	content: '';
	left: 50px;
}
.cloud:after {
	content: '';
	left: 25px;
	top: -10px;
}

@keyframes onPageLoad {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@import './media-querries/1050/mountains.scss';
