@import "../variables.scss";
@import "../main.scss";
@import "../projects.scss";
@import "../slider.scss";
@import "../mountains.scss";
@import "../downArrow.scss";
@import "../header.scss";
@import "../stars.scss";
@import "../social.scss";
