@media screen and (max-width: 650px) {
	.projects {
		height: 300vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		.project-container {
			opacity: 0;
			height: 100vh;
			display: flex;
			align-items: center;
			flex-direction: column-reverse;
			justify-content: flex-end;
			animation: unactivateProject $animation-timing linear;
			animation-timing-function: ease-in;
			.project-shadow {
				width: 46vh * 1.2;
				height: 46vh;
				max-width: 95vw;
				max-height: calc(95vw / 1.2);
				border-radius: 40vh;
				margin-left: 0px;
				margin-top: 2vh;
				margin-bottom: 2vh;
				box-shadow: 0px 0px 200px 20px;
				.project {
					background-color: $background-highlight-color;
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					box-shadow: 0px 0px 20px 0px #111;
					z-index: 99999;
					img {
						width: 99%;
						padding: 0.5%;
					}
				}
			}
			.project-text {
				width: 90vw;
				height: 50vh;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				padding: 0px;
				left: 0;
				text-align: center;
				h1 {
					font-size: 6vw;
					margin-top: 12vh;
					margin-bottom: 0px;
				}
				p {
					color: white;
				}

				.btn {
					margin-top: 20px;
					background-color: transparent;
					border: 2px solid $line-color;
					width: 150px;
					padding: 20px;
					font-size: 18px;
					font-weight: 400;
					color: $line-color;
					text-align: center;
					text-decoration: none;
					transition-duration: 0.5s;
					&:hover {
						color: white;
						border-color: white;
						-webkit-animation: slidetounlockhov 0.5s, fadeIn 1s;
						animation-timing-function: ease-in-out;
					}
				}
				.content {
					height: auto;
					margin-top: 10px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
				}
				.content-center {
					justify-content: flex-start;
				}
			}
		}
		.active {
			animation: activateProject $animation-timing linear;
			animation-timing-function: ease-out;
			opacity: 1;
		}
	}
}
